
html {
  background-image: url("C:/Users/Justin/OneDrive/Desktop/Dev_Porto/Portofolio/lights.jpg") ;
  background: cover center no-repeat contain;
  background-size: contain;
  width: 100%;
  height: auto;
  font-family: sans-serif;
}

a:link, a:visited {
  background-color: darkgrey;
  border-radius: 10px 5px;
  border-spacing: 5px;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration-style: solid;
  display: inline-block;
}

a:hover, a:active {
  background-color: steelblue;
}

.title{
text-align: center;
margin:auto;
font-size: 30px;
color: white;
}

#nav-list {
display: inline;
text-align: center;
font-size: 16px;
color:white;
margin: 0 auto;
list-style: none;
}



.navigation{
  text-align: right;
  width: 100%;
  top: 50%;
  margin: 0 auto;
  list-style-type: none;
  padding: 0; /* Remove padding */
  border-radius:10px 5px;
}


.Soc-media{
  color:white;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
}

.main-pic
{
  position: relative;
  display: block;
margin-left: auto;
margin-right: auto;
  width: 400px;
  top: 30px;
  margin: 0 auto;
  border-radius: 50%;
}



.project{
  color: White;
  text-align: center;
  font-size: 20px;
  padding: 2px;
}

.projects{
  list-style-type: none;
  padding: 0px;
  position: 50%;
  text-align: center;
  margin: auto;
}

#projects-nav{
margin:auto;

}


/*  Start The Socials.    */
.aside-pad{
position:sticky;
 
}

.title-soc{
  color: White;
  text-align: center;
  text-emphasis-style: bolder;
  font-size: 20px;
  margin: 0 auto;
  padding: 0px;

}


.no-bullets {
  list-style-type: none; /* Remove bullets */
 text-align: center;
}

.linkdn{

    background-color: grey; 
    border-radius: 20px;
    color: white;
    padding: 0 auto;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

#github
{
  background-color: grey; 
  border-radius: 20px;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;

}
#github:hover{
background-color:steelblue;
}

.email{

  background-color: #e7e7e7;
  border-color: black 50px;
  border-radius:5px;
  color: black;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 18px;
}


/*  End The Socials.    */




.copyright
{
  color: black;
  position: relative;
  text-align: center;
  width: 800px;
  top: 50px;
padding-top: 300px;
  margin: 0 auto;


}


.welcome
{

  color: white;
  position: relative;
  text-align: center;
  width: 800px;
  top: 50px;
  font-size: 48px;
  margin: 0 auto;
}


.content {
color:white;
text-align: center;
font-size: 18px;
margin: 0 auto;
}

/* Media Query*/

